[project]
	description = Linux kernel source tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/binoyjayan
[access "refs/for/refs/*"]
	read = group user/binoyjayan
	push = group user/binoyjayan
	label-Code-Review = -2..+2 group user/binoyjayan
	label-Verified = -1..+1 group user/binoyjayan
	rebase = group user/binoyjayan
	removeReviewer = group user/binoyjayan
	submit = group user/binoyjayan
[access "refs/heads/*"]
	read = group user/binoyjayan
	create = group user/binoyjayan
	push = +force group user/binoyjayan
	pushMerge = group user/binoyjayan
[access "refs/tags/*"]
	push = +force group user/binoyjayan
	pushTag = group user/binoyjayan
	pushSignedTag = group user/binoyjayan
